<div class="containerbody">

<center>
<img width="400px" src="https://raw.githubusercontent.com/hkhuu1011/burger/master/public/assets/img/burger.jpg">

<h1>Eat-Da-Burger!</h1>
</center>

	<div class="containertable">

		<!-- Burger Uneaten -->
	 	<div class="col-md-4">
	 		<div class=“panel panel-default”>
	   			<div class=“panel-heading”>
					<h2 class="panel-title">Uneaten</h2>
				</div>
					<div class="panel-body">
						<div class="burger-container">
							<!-- Content goes here -->
							{{#each burgers}}
							{{#unless this.devoured}}

								{{this.id}}<nobr>. </nobr>{{this.burger_name}}
								
								<form action="/burgers/{{this.id}}?_method=PUT" method="POST">
								
									<input type="hidden" name="devoured" value="true">
									
									<button class="btn btn-warning"  type="submit">Devour it!</button>
								</form>
								<br>

						 	{{/unless}}
							{{/each}}

						</div>

						
					</div>
			</div>
	  	</div>

	  	<!-- Devour button -->
	  	<div class="col-md-4">
	 		<div class=“panel panel-default”>
	   			<div class=“panel-heading”>
					<h2 class="panel-title">Enter a burger you want to eat.</h2>
				</div>
					<div class="panel-body">
						<form class="create-form" method="POST" action="/addburger">
							<input type="text" class="new-burger"  name="burger_name"/>
						  	<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
			</div>
		</div>

	  	<!-- Burger Eaten -->
		<div class="col-md-4">
		 		<div class=“panel panel-default”>
		   			<div class=“panel-heading”>
						<h2 class="panel-title">Devoured!</h2>
					</div>
						<div class="panel-body">
							{{#each burgers}}
								{{#if this.devoured}}
								<li>
									<lu>
						 				{{this.id}}<nobr>. </nobr>{{this.burger_name}}
						 			</lu>
						 		</li>
					 			{{/if}}
							{{/each}}
						</div>
				</div>
		</div>	
	</div>
</div>



